{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center py-5">
<!-- <h1 class="display-4">Trasferte Volley</h1>
    <p class="lead">Condividi una 🚗 per le tue trasferte</p> -->
    <p class="display-6">Condividi una 🚗 per le tue trasferte</p>
    <div class="mt-5">
        <a href="{{ url_for('events') }}" class="btn btn-lg btn-primary">Trasferte</a>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-4">
            <a href="{{ url_for('events') }}#create" class="text-decoration-none">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Crea Trasferta</h5>
                        <p class="card-text">Organizza un Evento e consenti agli altri di offrire passaggi o richiedere uno strappo</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('events') }}#offer" class="text-decoration-none">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Offri Passaggio</h5>
                        <p class="card-text">Hai un posto vuoto? Offri un pasaggio a qualcuno</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('events') }}#find" class="text-decoration-none">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Trova un passaggio</h5>
                        <p class="card-text">Cerchi un passaggio? Trova chi può dartene uno.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
{% endblock %}